/* colori
    #14AAF5 azzurro bottone
    #C9D0D4 grigio button
    #2CC6AB verde background
    #AB5DE6 viola
    #FF9B00 arancio
    #EC4A9D fucsia
    #A3D116 verde pis
    #F6F8F9 sfondo esterno*/
body{
    font-family: 'roboto';
}
.image{
    width: 7rem;
    height: 7rem;
    vertical-align: middle;
}
.logo_title{
    font-size: 50px;
    font-weight: 800;
    display: inline-block;
}  